.miaa-content {
  margin: 0.625rem auto;
}
.miaa-inner-content {
  margin: auto;
  width: 100%;
}
@media (min-width: 1050px) {
  .miaa-inner-content {
    max-width: 500px;
  }
}

.miaa-title {
  font-size: 1.0625rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  color: #474747;
}

.miaa-body .miaa-inner-content .info-text {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.miaa_input .form-control {
  background-color: #f9f9f9;
  border: 0;
  border-bottom: 2px solid #a3a3a4;
  border-color: #a3a3a4;
  padding: 1rem 0.9rem;
  flex-grow: 1;
}

.miaa-footer .btn {
  /*white-space: normal;*/
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 1.25rem 0;
  white-space: nowrap;
}

.btn-primary:not(.btn-sm):after,
.btn-secondary:not(.btn-sm):after {
  content: '\f105';
  /*font-family: FontAwesome;*/
  position: relative;
  right: -1.25rem;
}
