@font-face {
  font-family: din-pro;
  src: url('https://cdn.rcd2c.com/cdn/font/DINPro-Regular.otf')
    format('opentype');
  font-display: swap;
}

/* https://cdn.rcd2c.com/cdn/font/DINPro-Regular.otf */
