.showItem>div:last-child {
  // 页面答案高度限制
  max-height: 3000px;
  transition: max-height .5s ease-in-out;
}

.showItem>div:first-child {
  color: red;
  &>span{
    color: #767676;
  }
}

.hiddenItem>div:last-child {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}

.faq_rc_styled_link {
  color: #444;
  border: none !important;
  &:hover,
  &:active,
  &:visited {
    text-decoration: none !important;
    color: #444 !important;
    border: none !important;
  }

  u {
    font-weight: 100;
  }
}

@media (min-width: 769px) {
  .FAQ_header {
    background-color: #fff !important;
    padding: 1.5rem .5rem !important;
  }
}
.redBorder{
  border: 1px solid red;
}
.topBotBorder{
  // border-top: 1px solid #dbdbdb ;
  border-bottom: 1px solid #dbdbdb ;
}
