.reviews-modal {
  margin: 1.875rem auto auto;
  box-shadow: 0 0.1875rem 0.375rem -0.25rem #0000001f, 0 0.375rem 1rem #00000014,
    0 0.5625rem 1.75rem 0.5rem #0000000d;
  max-width: 100%;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  padding: 10px;
}

.showBigImg {
  width: 45vw;
  height: 55vh;
  position: fixed;
  z-index: 61;
  left: 29%;
  top: 20%;
  display: flex;
  align-items: center;
  background: black;
  justify-content: space-evenly;
  padding: 1.5rem 2rem;
}

.ImgBox {
  max-width: 80%;
}

.Mask {
  background-color: black;
  opacity: 0.5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 60;
}

.desc {
  display: inline-block;
  color: white;
  width: 100%;
  text-align: center;
}

.direction {
  color: white;
  font-size: 1.25rem;
  justify-self: start;
  cursor: pointer;
}

.cancelIcon {
  position: absolute;
  left: 93%;
  top: 3%;
  cursor: pointer;
}

.reviews-total {
  padding: 1rem 0;
  font-size: 16px;
}

.reviews-item {
  display: grid;
  grid-template-columns: minmax(160px, min-content) 1fr;
  grid-gap: 10px;
  padding: 1rem;
}

.reviews-item-left > div {
  padding-bottom: 5px;
}

.reviews-item-star {
  padding-bottom: 12px;
}

.reviews-item-title,
.reviews-item-content {
  padding-bottom: 8px;
}

.reviews-item-name {
  color: #e2001a;
}

.reviews-header {
  display: grid;
  grid-template-columns: 1fr 30px;
  color: #e2001a;
}

.reviews-list {
  overflow: auto;
}

.reviews-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

.reviews-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.reviews-list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #ddd;
}

@media screen and (max-width: 768px) {
  .reviews-modal {
    padding: 0;
    max-width: 90%;
  }
  .reviews-item {
    grid-template-columns: 1fr;
  }
}
