.confirm-tool-content2 {
  min-width: 100px !important;
  height: 0.625rem !important;
  font-size: 0.75rem !important;
  line-height: 0px !important;
  border-radius: 5px;
  color: #666;
  position: absolute;
  bottom: 45px !important;
  left: 150% !important;
  transform: translate(-50%, 105%);
  z-index: 9;
  border: 1px solid #d7d7d7;
  background-color: #fff;
}
.confirm-tool-arrow2 {
  width: 0px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 0.625rem;
  left: -1%;
}
.confirm-tool-arrow2::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
}
.confirm-tool-footer {
  width: 100%;
  display: inline-block;
  padding-top: 0.625rem;
}
