.more a.rc-styled-link {
  color: #666;
  border-bottom: 1px solid #aaa;
}
.more a.rc-styled-link:hover {
  color: #666;
  border-bottom-color: #aaa;
}

.linkedSubsBox .text-plain.ui-btn-loading:before {
  border: 1px solid #ec001a;
}
