@tailwind base;

@tailwind components;

@tailwind utilities;

@import './assets/iconfont/din/font-face.css';

body {
  margin: 0;
  font-family: 'RC TYPE', Roboto, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lazyload-wrapper {
  display: inline-block;
}
