.ui-pet-item .ui-item {
  width: 48%;
}
.checkout-continue {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 15;
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 639.98px) {
  .checkout-continue {
    background-color: hsla(0, 0%, 100%, 0.95);
    -webkit-box-shadow: 0 2px 0.625rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0.625rem rgba(0, 0, 0, 0.2);
  }
}
.buyMethodBox .text-left {
  text-align: left !important;
}
@media (min-width: 640px) {
  .checkout-continue {
    position: static;
    padding-right: 0.938em;
    padding-left: 0.938em;
  }
}

h1.page-title {
  background: none;
  color: #666;
  font-size: 2.625rem;
  font-weight: lighter;
}

.item-name,
h1.page-title {
  text-transform: uppercase;
  font-family: RC TYPE, Roboto, Avenir, Helvetica, Arial, sans-serif;
}

.item-name {
  font-size: 1.5rem;
  white-space: normal;
  font-weight: 100;
}

.cart-header {
  display: none;
}

.card {
  border: 0;
}

.edit {
  margin-right: 0.625em;
}

.edit-add-to-wishlist {
  margin-top: auto;
}

.edit-add-to-wishlist a {
  font-size: 0.813em;
}

.line-item-attributes {
  font-size: 0.875rem;
  margin: 0;
}

.item-attributes {
  display: inline-block;
  vertical-align: top;
}

.line-item-divider {
  margin: 0.625em -0.625rem;
}

.line-item-name {
  margin-bottom: 0.625em;
  width: 100%;
}

.line-item-name,
.line-item-price {
  font-size: 1em;
  color: #222;
  font-weight: 700;
}

.line-item-price-info {
  font-size: 0.75em;
  margin-bottom: 0.5rem;
}

.no-margin-top {
  margin-top: 0;
}

.number-of-items {
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .number-of-items {
    margin-top: 0;
  }
}

.optional-promo {
  color: #ec001a;
}

div.product-info {
  position: relative;
}

div.product-info .hnc-club-logo {
  position: absolute;
  right: 0.9375rem;
  bottom: 1rem;
}

div.product-info .hnc-club-logo img {
  width: 55px;
}

@media (min-width: 769px) {
  div.product-info:not(.hnc-product) {
    margin-bottom: 1.5rem;
  }
  .has-margin-bottom {
    margin-bottom: 1.5rem;
  }
  .cart-item-md__tagging_title {
    max-width: 80%;
  }
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
@media (max-width: 991.98px) {
  div.product-info:not(.hnc-product) {
    margin-bottom: 1.25rem;
  }
  .has-margin-bottom {
    margin-bottom: 1.25rem;
  }
  .ui-pet-item .ui-item {
    width: 100%;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
  }
}

div.product-info .strike-through {
  text-align: right;
}

@media (min-width: 769px) {
  div.product-info {
    height: auto;
  }
}

@media (max-width: 991.98px) {
  div.product-info {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media (min-width: 769px) {
  .hnc-product-details {
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 991.98px) {
  .hnc-product-details {
    margin-bottom: 1rem;
  }
}

@media (min-width: 769px) {
  .hnc-product-details__card {
    padding: 1.5rem;
  }
}

@media (max-width: 991.98px) {
  .hnc-product-details__card {
    padding: 1rem;
  }
}

.hnc-product-details .icon-vet-green {
  font-size: 1.5rem;
  margin-right: 5px;
  margin-left: 8px;
}

.hnc-product-details .vet-color {
  color: #008c00;
}

.hnc-product-details .icon-credit-card {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 3px;
  margin-right: 4px;
}

.remove-product-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.product-to-remove {
  font-weight: 700;
}

.cart-item-image {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.cart-item-image .item-image {
  height: 9.688rem;
  width: 8.375rem;
  margin-right: 0;
  padding-top: 0.9375rem;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.cart-item-image .item-image img.product-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 11rem;
  height: 100%;
}

.cart-item-image .remove-line-item {
  position: absolute;
  right: 0.9375rem;
  top: 0;
}

.quantity-form {
  margin-bottom: 0;
  margin-top: -0.313em;
}

@media (max-width: 768.98px) {
  .quantity-form {
    min-height: 60px;
  }
}

@media (max-width: 768.98px) {
  .quantity-width .quantity {
    position: relative;
  }
}

.product-info .remove-btn {
  color: #999;
  font-size: 2.625em;
  padding: 0;
  border: none;
  background-color: #fff;
}

@media (min-width: 992px) {
  .product-info .remove-btn {
    top: 0;
    bottom: 0;
    right: -0.625rem;
    margin-top: -0.625rem;
    margin-bottom: -0.625rem;
  }
}

.product-info .remove-btn-lg {
  border: none;
  border-radius: 0;
  /*font-size: 1.625em;*/
  position: absolute;
  /*top: 0;*/
  bottom: 0;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  z-index: 1;
  background: none;
  font-size: 2.625em;
  top: -0.9375rem;
  right: 0;
  color: #979797;
}

.product-info__img {
  width: 100px;
}

@media (min-width: 769px) {
  .product-info__desc {
    padding-left: 0.625rem;
  }
}

.cart-empty h2.rc-alpha {
  display: none;
}

.cart-empty .title-empty {
  color: #444;
}

.bonus-product {
  display: block;
  text-align: center;
}

.remove-line-item {
  position: relative;
}

.remove-coupon {
  border: none;
  background: transparent;
}

.grand-total {
  font-size: 1em;
  font-weight: 600;
}

.coupon-price-adjustment + .coupon-price-adjustment {
  margin-top: 0.625rem;
}

.coupon-price-adjustment {
  background-color: #fff;
  padding: 0.625em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1875rem;
}

.coupon-promotion-relationship {
  font-size: 0.813em;
  padding-left: 1rem;
  margin-bottom: 0;
}

.coupons-and-promos {
  margin-bottom: 0.625rem;
  padding-right: 0;
  padding-left: 0;
}

.coupon-code {
  position: relative;
  font-size: 1.125em;
}

.coupon-code .remove-coupon {
  position: absolute;
  right: 0;
  top: -3px;
  cursor: pointer;
}

.coupon-applied {
  color: #47b800;
  font-size: 0.813em;
}

.coupon-not-applied {
  color: #ec001a;
  font-size: 0.813em;
}

.coupon-error {
  color: #ec001a;
  margin-top: 0.25rem;
  white-space: nowrap;
}

.coupon-missing-error {
  display: none;
}

.applied-promotion-discount {
  color: #47b800;
  float: right;
}

.promotion-information {
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}

.line-item-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-attributes .select-variant {
  padding-left: 0;
}

.bundle-includes {
  font-size: 0.813em;
  margin-bottom: 0.625em;
}

.cart-page .bonus-line-item-row + .bonus-line-item-msg:before,
.cart-page .bundled-line-item + .bundled-line-item:before {
  content: '';
  display: block;
  border-bottom: 0.063em dashed #ccc;
  margin: 0.625em -0.625em;
}

@media (max-width: 769px) {
  .cart-page.rc-layout-container,
  .row.sffix {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
  }

  .row.sffix .col-3 {
    -webkit-flex-basis: 0 0 25%;
  }

  .row.sffix .col-9 {
    -webkit-flex-basis: 0 0 75%;
  }

  .row.sffix .d-flex {
    display: -webkit-flex !important;
  }

  .row.sffix .option.row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
  }
}

.cart-page .cart__checkout-btn {
  height: 3rem;
  border-radius: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cart-page .form-group button {
  height: 55px;
  width: 55px;
  outline: none;
}

.cart-page .form-group button.input__submit--micro:after,
.cart-page .form-group button.input__submit--micro:before {
  background-image: none;
}

.cart-page .input__control::-webkit-input-placeholder {
  color: #808285;
}

.cart-page label.input__label {
  background-color: #f6f6f6;
  opacity: 0.65;
}

.cart-page label.input__label:after {
  background-color: #767676;
}

.cart-page .select-size {
  list-style: none;
  padding: 0;
  margin-top: 0.9375rem;
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

@media (max-width: 768.98px) {
  .cart-page .select-size {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.cart-page .select-size .size {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2.1rem;
  width: 4.43rem;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  border: 2px solid #e2001a;
  border-radius: 3px;
  cursor: pointer;
}

.cart-page .select-size .size.active[disabled] {
  pointer-events: none;
  border: none;
  background-color: #d7d7d7;
  color: #fff;
}

.cart-page .select-size .size.active {
  background-color: #e2001a;
  color: #fff;
}

.cart-page .select-size .size:first-child {
  margin-right: 5px;
}

.cart-page .select-size .size:first-child,
.cart-page .select-size .size:nth-child(2),
.cart-page .select-size .size:nth-child(3) {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.cart-page .select-size .size:nth-child(3) {
  margin-left: 5px;
}

.cart-page .select-size .size[disabled] {
  pointer-events: none;
  border: none;
  background-color: #d7d7d7;
  color: #fff;
}

.cart-page .availabilty__wrapper,
.cart-page .stock__wrapper {
  display: inline-block;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  position: relative;
  /* bottom: 1.25rem */
}

@media (max-width: 768.98px) {
  .cart-page .availabilty__wrapper,
  .cart-page .stock__wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.cart-page
  .availabilty__wrapper
  .line-item-availability.true
  .line-item-attributes,
.cart-page .availabilty__wrapper .line-item-availability.true .stock,
.cart-page .stock__wrapper .line-item-availability.true .line-item-attributes,
.cart-page .stock__wrapper .line-item-availability.true .stock {
  color: #47b800;
}

.cart-page .availabilty__wrapper .line-item-attributes,
.cart-page .availabilty__wrapper .stock,
.cart-page .stock__wrapper .line-item-attributes,
.cart-page .stock__wrapper .stock {
  /* text-transform: lowercase; */
  /* color: #ee8b00; */
  font-size: 1rem;
  margin-bottom: 0.9375rem;
}

.cart-page
  .availabilty__wrapper
  .line-item-attributes
  .availability-msg
  > div
  + div,
.cart-page .availabilty__wrapper .stock .availability-msg > div + div,
.cart-page .stock__wrapper .line-item-attributes .availability-msg > div + div,
.cart-page .stock__wrapper .stock .availability-msg > div + div {
  margin-left: 5px;
  color: #ee8b00;
}

.cart-page
  .availabilty__wrapper
  .line-item-attributes
  .availability-msg
  .out-stock,
.cart-page
  .availabilty__wrapper
  .line-item-attributes
  .availability-msg[data-ready-to-order='false']
  > div,
.cart-page .availabilty__wrapper .stock .availability-msg .out-stock,
.cart-page
  .availabilty__wrapper
  .stock
  .availability-msg[data-ready-to-order='false']
  > div,
.cart-page .stock__wrapper .line-item-attributes .availability-msg .out-stock,
.cart-page
  .stock__wrapper
  .line-item-attributes
  .availability-msg[data-ready-to-order='false']
  > div,
.cart-page .stock__wrapper .stock .availability-msg .out-stock,
.cart-page
  .stock__wrapper
  .stock
  .availability-msg[data-ready-to-order='false']
  > div {
  color: #ee8b00;
  margin-left: 0;
}

.cart-page .availabilty__wrapper .line-item-attributes:first-letter,
.cart-page .availabilty__wrapper .stock:first-letter,
.cart-page .stock__wrapper .line-item-attributes:first-letter,
.cart-page .stock__wrapper .stock:first-letter {
  text-transform: uppercase;
}

.cart-page .availabilty__wrapper .line-item-attributes.errormessage,
.cart-page .availabilty__wrapper .stock.errormessage,
.cart-page .stock__wrapper .line-item-attributes.errormessage,
.cart-page .stock__wrapper .stock.errormessage {
  color: #ee8b00;
}

.cart-page .row {
  overflow-y: visible;
}

.cart .line-item-total-price-amount {
  font-size: 1.2rem;
  white-space: nowrap;
}

@media (max-width: 768.98px) {
  .cart .line-item-total-price-amount {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.quantity-label {
  font-size: 0.813em;
}

.quantity {
  width: 100%;
  min-width: 5em;
}

.bundle-misc {
  font-size: 0.813rem;
}

@media (max-width: 991.98px) {
  .bundle-misc {
    margin-bottom: 0.625em;
  }
}

.cart-error-messaging.cart-error {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.single-approaching-discount {
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  padding: 5px 0;
  position: relative;
  margin-top: -1px;
}

.single-approaching-discount i {
  display: inline-block;
  margin-right: 2px;
}

.single-approaching-discount span.red {
  color: #ec001a;
}

.single-approaching-discount p {
  margin: 0;
}

.bundled-line-item .item-attributes {
  margin-left: 0;
}

.bonus-product-button {
  margin-right: 1.5em;
}

.wrap-shipping {
  margin: 0;
}

.shipping-code {
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.shipping-code .coupon-code-field {
  border: 0;
  border-bottom: 2px solid #979797;
  border-radius: 0;
  height: 55px;
  background-color: #f6f6f6;
}

.shipping-code .coupon-error {
  width: calc(100% + 55px);
  white-space: normal;
}

.cart-page .promo-code-submit {
  padding: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.cart-page .promo-code-submit .promo-code-btn {
  width: auto;
  height: 55px;
  margin: 0;
  margin-right: 0;
  border-radius: 0;
}

.cart-page .promo-code-submit .promo-code-btn.btn {
  padding: 0.375rem 0.75rem;
}

.cart-page .promo-code-submit .btn-primary:active,
.cart-page .promo-code-submit .btn-primary:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.cart-page .promo-group {
  margin-top: 2rem;
}

.cart-page .totals .row {
  margin-left: 0;
  margin-right: 0;
}

.cart-page .total-items {
  background: #f6f6f6;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.cart-page .group-total {
  background: #f6f6f6;
  padding: 1rem 0;
}

.cart-page .line-item-instock-date {
  display: none;
}

.checkout-continue .checkout-btn {
  /* height: 48px;
  line-height: 48px; */
  text-align: center;
  /* border-radius: 25px */
}

.wrap-question-shipping {
  background-color: #f0f0f0;
  margin-top: 40px;
  text-align: center;
  padding: 30px;
}

.wrap-question-shipping img {
  margin: 0 auto;
  margin-bottom: 25px;
}

.wrap-question-shipping a {
  color: #ec001a;
  margin-top: 1.25rem;
  display: inline-block;
}

.subscribe-checkout {
  background-color: #f6f6f6;
  margin-right: 0;
  margin-left: 0;
  padding: 0.625rem 0;
}

.subscribe-checkout .part-left,
.subscribe-checkout .part-right {
  padding-right: 0;
}

.subscribe-checkout .subscribe-content .icon {
  font-size: 1.8rem;
  vertical-align: middle;
  margin-right: 0.625rem;
  color: #47b800;
}

.subscribe-checkout .subscribe-content a {
  color: #5fcc78;
}

.subscribe-checkout .shipping-cost {
  color: #47b800;
}

.shipping-method {
  margin-top: 0.625rem;
  overflow: initial;
}

.shipping-method .select {
  margin-bottom: 0.625rem;
  max-width: none;
}

.shipping-method .select .choices__inner {
  background-color: #f6f6f6;
  height: 50px;
  padding-left: 0.75rem;
  padding-top: 0.75rem;
}

.shipping-method .select .choices {
  border-bottom: 2px solid #333;
}

.shipping-method .select .choices:after {
  content: '';
  /* background: url(../../images/helps/dropdown-shipping.svg) no-repeat; */
  width: 1.3125rem;
  height: 9px;
  position: absolute;
  top: 28px;
  right: 0.9375rem;
  pointer-events: none;
}

.checkout-proccess {
  margin-top: 0.9375rem;
}

@media (min-width: 640px) {
  .cart__total {
    max-width: 352px;
  }
}

#removeProductModal.show {
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}

.cart-club-autoship {
  margin-bottom: 1.5rem;
  margin-top: -25px;
}

.line-item-price-info {
  line-height: 36px;
}
.promotion {
  color: #ec001a;
}
.promotion .availability-msg {
  color: #ec001a !important;
}
.cart-item__tagging_image {
  width: 3rem;
}
